body {
  display: flex;
}
div {
  flex: 2;
}
img {
  width: 100%;
}
.papelera {
  flex: 1;
}
.seccion{
  padding: 2rem;
  margin: 1rem;
  background-color: #343434;
}
.parrafo {
  padding: .5rem;
  background-color: aliceblue;
}
.parrafo.draggable{
  opacity: .3;
}
.parrafo.removed{
  display: none;
}